*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.home{
    display: none;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}


.form{
    width: 20%;
    margin: auto;
    background-color: rgb(192, 192, 212);
}
.signup{
    display: block;
    padding: 10%;
    
}

.signin{
    display: none; 
    padding: 10%;
}
.input{
    width : 80%;
}

.afterlogin{
    display: none;
}

.medicineDetails{
    display: none;
}

.AddMedicine{
    display: none;
}
.EditMedicine{
    display: none;
}

.purchase{
    display: none;
}
.purchaseDetails{
    display: none;
}

.cancelOrder{
    display: none;

}
.showBalance{
    display: none;
}

.orderHistory{
    display: none;
}
.topup{
    display: none;
}
table,th,td{
    border: 1px solid black;
    
}