*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.home{
    display: none;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.row{
    padding: 0% 0% 0% 30%;
    display: flex;
    flex-direction: row;
}

.rowbuttons{
    padding:  3% 5%;
    background-color: black;
    font-size: 110%;
    width: 100%;
    color: white;
    width: auto;
}

.form{
    width: 30%;
    margin: 10% 34%;

    background-color: rgb(192, 192, 212);
}
.signup{
    display: block;
    padding: 10%;
}

.input{
    font-size: 110%;
    width: 80%;
    height: 5%;
}
.signinbutton{
    padding:  3% 5%;
    background-color: black;
    font-size: 110%;
    color: white;
    width: auto;
}

.signin{
    display: none; 
    padding: 10%;
}
.input{
    width : 80%;
}

.afterlogin{
    display: none;
}

.medicineDetails{
    display: none;
}

.AddMedicine{
    display: none;
}
.EditMedicine{
    display: none;
}

.purchase{
    display: none;
}
.purchaseDetails{
    display: none;
}

.cancelOrder{
    display: none;

}
.showBalance{
    display: none;
}

.orderHistory{
    display: none;
}


.topup{
    display: none;
}


table,th,td{
    border: 1px solid black;
    
}